  div.galleryelem {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 400px;
    }

        div.galleryelem:hover {
            border: 1px solid #777;
        }

        div.galleryelem img {
            width: 100%;
            height: auto;
        }

    div.desc {
        text-align: center;
    }
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
DIV.pager
{
  text-align: right;
  border-top: 2px solid silver;
  padding: 0.5em 0 0 0;
  margin-top: 1em;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
