@model PicturesGallery.Models.GalleryViewModel
@using PicturesGallery.HtmlHelpers;

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_Images",Model.Filenames)
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => @Url.Action("Index", new { page = x}))
</div>

